:root {
  --color-text-subtle: #6c757d;
  --color-text-strong: #212529;

  --color-surface-subtle: #f8f9fa;
  --color-surface-strong: #fff;

  --color-accent-subtle: #007bff;
  --color-accent-strong: #0dcaf0;

  --border-width-subtle: calc(1em / 16);
  --border-width-strong: calc(1em / 4);
  --border-color-subtle: #dee2e6;
  --border-color-strong: #ced4da;

  --border-radius-subtle: 0.25em;
  --border-radius-strong: 0.5em;

  --space-near: 0.5em;
  --space-away: 1.25em;
}

*,
:after,
:before {
  box-sizing: border-box;
  accent-color: var(--color-accent-strong);
}

:where(html) {
  block-size: 100%;
  inline-size: 100%;
  -webkit-text-size-adjust: none; /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */

  /* @media (--motionOK) {
        & {
            scroll-behavior: smooth;
        }
    } */
}

:where(body) {
  min-block-size: 100%;
  min-inline-size: 100%;
  padding: 0;
  margin: 0;

  font-weight: 400;

  color: var(--color-text-subtle);
  background-color: var(--color-surface-subtle);

  font-family: system-ui;
  line-height: 1.6;
  font-style: normal;
}

button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: var(--color-text-strong);
    background-color: transparent;
    min-block-size: 2.5em;
    display: flex;
align-items: center;
    justify-content: center;
    border: var(--border-width-subtle) solid var(--border-color-strong);
    padding: 0 var(--space-away);
    border-radius: var(--border-radius-subtle);
    margin: 0;
    cursor: pointer;
}

button:hover {
    color: var(--color-accent-subtle);
}
