---
import Layout from "../layouts/Layout.astro";
---

<Layout title="this is not a real website">
  <main>
    <h1>this is not a real website.</h1>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    display: grid;
    place-items: center;
    inline-size: 100%;
    block-size: 100%;
  }
  h1 {
    max-width: 60ch;
    font-size: clamp(1.25rem, 5vw, 2.5rem);
    font-weight: 500;
    color: var(--color-text-strong);
    text-wrap: balance;
    padding-inline: 0.25em;
  }

  h1:after {
    display: block;
    content: "";
    inline-size: 100%;
    block-size: var(--border-width-strong);
    background: linear-gradient(to right, yellow, red, blue, green, yellow);
    background-size: 200%;
    animation: 2s bg linear infinite;
  }

  @keyframes bg {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 200%;
    }
  }
</style>
